#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  margin: 1rem 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 3rem;
  gap: 0.8rem;
  width: 100%;
}

.card-col.card-firstItem {
  margin-top: 0;
  width: 60%;
}
.card-col.card-otherItems {
  width: 25%;
}

.card-col.card-lastItems {
  width: 15%;
  padding: 0;
  margin: 0;
  /* height: 0; */
  /* height: 90px; */
}

.card-col {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: left;
  width: 20%;
}

.card-col--flexRow {
  align-content: center;
  flex-direction: row;
  align-items: flex-end;
  text-align: left;
  /* height: 30px; */
  width: 100%;
}
.card-col--flexRow button {
  /* height: 50px; */
  /* height: auto; */
  width: 100px;
  margin: 0;
  /* padding: 0.7rem; */
}
.card-col--flexRow input {
  /* height: 90px; */
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.card-col--flexCol {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 0.4rem;
  width: 100%;
  margin: 0;
  padding: 0;
}
.card-col--flexCol button {
  width: 100%;
  margin: 0;
  padding: 1rem 1.2rem;
  height: 3.4rem;
  background-color: mediumslateblue;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.65rem;
  border-radius: 1rem;
}
.card-col--flexCol input {
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.card .dateStart {
  width: 100%;
}

.card .dateEnd {
  width: 100%;
}

label {
  font-size: 0.7rem;
  font-weight: 600;
  padding-left: 0.5rem;
  margin: 0;
  /* padding: 0; */
}

input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 0;
  border-radius: 1rem;
  border-bottom: 1px solid #cccccc38;
  outline: none;
}

.read-the-docs {
  color: #888;
}
